.bg-primary{
      background:#009688!important;
}

.options {
  border: 1px solid #e5e5e5;
  padding: 10px;
}

select {
  font-size: 14px;
  border: none;
  width: 100%;
  background: white;
}

.banner{
    width:100%;
    background-size:cover;
    background-image:url(../image/background.png);
    height:100%;
}

.my-btn{
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.myphoto{
   width:300px;
   height:300px;
}
