<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Claim Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
</head>
<body>
<section class="banner">
    <div class="text-center">
        <h1 class="font-weight-bold">Registration Successful</h1>
        <h1 class="font-weight-bold">Details of your claim are as follows:</h1>
    </div>


    <div class="text-center">
        <table class="table table-dark">
            <thead class="thead-light">
            <tr>
                <th scope="col">Claim Number:</th>
                <th scope="col">Driver Name:</th>
                <th scope="col">Cause of Loss:</th>
                <th scope="col">DL Number:</th>
                <th scope="col">DL Type:</th>
                <th scope="col">DL Class:</th>
                <th scope="col">Expiry Date:</th>
                <th scope="col">Location:</th>
                <th scope="col">Photos:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" th:text="${claim.claimNumber}">Subject</th>
                <td th:text="${claim.driverName}">Subject</td>
                <td th:text="${claim.causeOfLoss}">Subject</td>
                <td th:text="${claim.dlNumber}">Subject</td>
                <td th:text="${claim.dlType}">Subject</td>
                <td th:text="${claim.dlClass}">Subject</td>
                <td th:text="${claim.expiryDate}">Subject</td>
                <td th:text="${claim.location}">Subject</td>
                <td><img class="myphoto" th:src="${claim.imageData}"/></td>
                <!--   <td><img th:src="'data:image/jpeg;base64,'+${imgUtil.getImgData(claim.image)}"></td>   -->
            </tr>

            </tbody>
        </table>
    </div>
</section>
</body>
</html>